/* IMPORTS */
@import "compass/reset";
@import "compass/css3";

@import "helpers/variables";

@import "placeholders/animation";

@import "mixins/media";

@import "components/header";
@import "components/nav";
@import "components/sidebar";
@import "components/footer";

/* GLOBAL STYLES */
body {
    background-color: $color-background-body;
    font-family: 'Open Sans', Georgia, sans-serif;
}

h1 {
    font-size: $h1-size;
}
h2 {
    font-size: $h2-size;
}
h3 {
    font-size: $h3-size;
}
h4 {
    font-size: $h4-size;
}

.container {
    /* Spacing: margin, padding */
    padding: 10px;
}

section {
    background: #fff;
    display: flex;
    .column {
        margin: 0 $column-spacing;
    }
    .main {
        flex-grow: 5;
        flex-shrink: 5;
        flex-basis: 0;
    }
    #sidebar {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        margin-right: 0;
    }
}