header {
    /*  static at top of page
           
     */
    background-color: $color-background-header;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    .logo {
        /* Float left */
    }
}