/* FONT */
$font-size: 16px;

/* COLOURS */
$color-background-banner: #4090ff;
$color-background-nav: #00275e;

$color-background-body: #fff;
$color-background-content: #cfddf0;

$color-background-sidebar: $color-background-banner;
$color-background-sidebar-content: #fff;

$color-background-footer: $color-background-nav;

$color-font-banner: #000;
$color-font-content: #000;
$color-font-sidebar: #000;
$color-font-nav: #fff;
$color-font-footer: $color-font-nav;